body > header {
	background-color: #87CEEB;
	display: block;

	
}
body > header a{
	color: white;
	text-decoration: none;

}
#menu {
	display: block;
	padding: 10px 0;
}
#menu ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #6e7f91;
}
#menu ul a{
	color: white;
	text-decoration: none;

}
#menu ul a:hover{ 
	display: block;
	background-color: #ffffff;
}

#menu ul li:nth-child(1) {
	border-top: 5px solid rgb(243, 133, 133);
}
#menu ul li:nth-child(2) {
	border-top: 5px solid rgb(153, 241, 175);
}
#menu ul li:nth-child(3) {
	border-top: 5px solid rgb(110, 96, 233);
}
#menu ul li:nth-child(4) {
	border-top: 5px solid rgb(223, 79, 22);
}
#menu ul li:nth-child(5) {
	border-top: 5px solid rgb(60, 205, 241);
}
#menu ul li:nth-child(6) {
	border-top: 5px solid rgb(241, 60, 172);
}

#related {
	color: white;
	background-color: rgb(61, 69, 71)
}
#related a{
	color: white;
	text-decoration: none;
}
#news a{
	color: white;
	text-decoration: none;
}
#news footer{
	background-color:rgb(190, 114, 161);
}
footer{
	background-color:rgb(61, 69, 71);
}
#news header a{ /*texto por cima da imagem */
	position: absolute;
}
