.container {
	margin: 0 auto;
	width: 960px;
}

body{
	font-family: "Lucida Sans Unicode", Verdana, sans-serif;
	  line-height: 1.6;
	  
	
}
/*muda a borda, e margens, cor das bordas... do 'quadrado' principal */
.lugar {
/* altera as bordas */
	border-color: #1C1C1C;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 30px;
	padding: 20px;
	background-color: #808080;
	/*texto justificado */
	text-align: justify;

}
/*altera as linhas pontilhadas */
.lugar h2 {
	
	border-bottom: 1px dashed #1C1C1C;
	margin: 1px;
}
/* altera o fundo */
body {
	background: #FFFAF0 url('noise.png');
	background-color: #4F4F4F;
}

/*Muda o "clique aqui para mais informações" */
.lugar a {
	color: #2C11AF;
	font-weight: bold;
}

a {
	color: #2C88A7;
	text-decoration: none;
}

a:hover { // :focus, :visited, :active
	color: white;
	background-color: black;
}

.lugar img{
	height: 360px; 
	border: 1px solid black;
	float:left;
	margin: 10px 10px 0 0; 
	padding: 2px;
}

.clear{
	clear: both;
}

.footer{
	tetx-align:center;
	font-size: 12px;
}
/*altera a tabela notas */
.notas{
	background-color: #808080;
	padding: 20px;
	
	float: right;
	width: 260px;

	border-collapse: collapse;
	border: 1px solid black;
}

.notas h3{
	font-size: 14px;
	margin-top: 0;
}

.notas ol{
	font-size: 13px;
}

.tudo {
	float:left;
	width: 600px;
}

.notas {
	float: right;
	width: 260px;
}




table{
	width: 100%;
	margin: 0 auto;
	border: 1px solid #1C1C1C;
}

tr, td, th{
	border-radius: 5px;
	border-collapse: collapse;
	border-color: #1C1C1C;
	background-color: #808080;
}

.mapa{
	float: right;
	width: 260px;
	
	padding: 30px;
}
