.container {
	margin: 0 auto;
	width: 960px;
}

body{
	font-family: "Lucida Sans Unicode", Verdana, sans-serif;
	  line-height: 1.6;
	
}
/*muda a borda, e margens, cor das bordas... do 'quadrado' principal */
.lugar {
	border-color: #FFFAF0;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 30px;
	padding: 20px;

}

.lugar h2 {
	
	border-bottom: 1px dashed #F5F5F5;
	margin: 1px;
}

body {
	background: #FFFAF0 url('noise.png');
	background-color: rgba(201, 76, 76, 0.3);
}

/*Muda o "clique aqui para mais informações" */
.lugar a {
	color: #2C11AF;
	font-weight: bold;
}

a {
	color: #2C88A7;
	text-decoration: none;
}

a:hover { // :focus, :visited, :active
	color: white;
	background-color: black;
}

.lugar img{
	height: 360px; 
	border: 1px solid black;
	float:left;
	margin: 10px 10px 0 0; 
	padding: 2px;
}

.clear{
	clear: both;
}

.footer{
	tetx-align:center;
	font-size: 12px;
}

.notas{
	background-color: rgba(210,210,210,0.3);
	padding: 10px;
	
	float: right;
	width: 260px;
	border-radius: 10px;
	border-collapse: collapse;
	border: 2px solid black;
}

.notas h3{
	font-size: 12px;
	margin-top: 0;
}

.notas ol{
	font-size: 12px;
}

.tudo {
	float:left;
	width: 600px;
}

.notas {
	float: right;
	width: 260px;
}

table{
	width: 100%;
	margin: 0 auto;

}
tr, td, th{
	border-radius: 10px;
	border-collapse: collapse;
	border: 2px solid white;
}
